<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>TOUR4GOOD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
		<base href="/">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	 	<link rel="stylesheet" href="/stylesheets/styling.css">
  </head>
  <body class="colour-change">
		
		<div class="wrapper d-flex align-items-stretch">
			<div>
			<nav id="sidebar" style="height:100%;">
				<div class="p-4 pt-5" style="position:fixed;margin-left:15px;">
					<ul class="list-unstyled components mb-5">
							<li class="active">
								<a href="/" class="text-center" style="font-size: 25px">TOUR4GOOD</a>
							</li>
							<li class="active">
								<a href="/result" class="text-center">Major Tourist Cities of India</a>
							</li>
							<li class="active">
								<a href="/result/Jaipur"class="text-center" >Jaipur</a>
							</li>
							<li class="active">
								<a href="/result/Bombay" class="text-center">Bombay</a>
							</li>
							<li class="active">
								<a href="/result/Udaipur" class="text-center" >Udaipur</a>
							</li>
							<li class="active">
								<a href="/result/Amritsar" class="text-center" >Amritsar</a>
							</li>
							<li class="active">
								<a href="/result/Mysore" class="text-center">Mysore</a>
							</li>
					</ul>
				</div>
    		</nav>
			</div>

       		<!-- Page Content  -->
			<div id="content" style="display:text-align:center" class="p-4 p-md-5">
				<nav class="navbar navbar-expand-lg navbar-light bg-light">
					<div class="container-fluid">
						<button type="button" id="sidebarCollapse" class="btn btn-primary">
							<i class="fa fa-bars"></i>
							<span class="sr-only">Toggle Menu</span>
						</button>
						<button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<i class="fa fa-bars"></i>
						</button>

						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="nav navbar-nav ml-auto">
								<li class="nav-item">
									<a class="nav-link" href="/about">About</a>
								</li>
							<%	if(!currentuser) { %>
								<li class="nav-item"><a class="nav-link" href="/user">Login/SignUp</a></li>
								
							<%	} else { %>
								<li class="nav-item"><a class="nav-link">Signed In As <%= currentuser.username %></a></li>
								<li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
							<%	} %> 
							</ul>
						</div>
					</div>
				</nav>