<%- include("partials/header") %>

	<main class="page-content">
		<div class="container-fluid " >
			<div class="content container-lg " style="margin-top: 30px ;margin-left:0px; font-size: 16px">
			<h1 style="color: SlateBlue">ABOUT THE WEBSITE</h1>
				<p class="card card-body">
					Welcome to our website TOUR4GOOD.
					Tourism is a dynamic and competitive industry that requires the ability to adapt constantly to customers’ 						changing needs and desires, as the customer’s satisfaction, safety and enjoyment are particularly the focus 					of tourism businesses.
					Tourism means people traveling for fun. It includes activities such as sightseeing and     				 						camping. People who travel for fun are called "tourists". Places where many tourists stay are called 							"resorts". Places that people go to for tourism are called tourist destinations.

					<br>
					<br>
					This is a site which gives you a glimpse of some of the famous Tourist Places of INDIA.
					INDIA is one of the parts of the world that, once visited, get into your heart and won't go.INDIA is stunned					by the richness of the land, by its lush beauty and exotic architecture, by its ability to overload the 						senses with the pure, concentrated intensity of its colors, smells, tastes, and sounds.
					So,take a view of some of the spectacular places of INDIA and you can also share some of your wonderful
					visiting experiences with your friends/family
					and thereby helping other users to get a review about the various tourist places.

				</p>
			<h1 style="color: SlateBlue">ABOUT THE DEVELOPERS</h1>
			<p class="card card-body" style="display:inline-block">
				This website is developed by
				<a href="https://www.linkedin.com/in/harpreet-singh-7a5a0716b/" style="color: DodgerBlue" target="_blank">HARPREET SINGH</a> and <a                               href="https://www.linkedin.com/in/samarth-gupta-0209/" style="color: DodgerBlue" target="_blank">SAMARTH GUPTA</a>.
				We are students of  YMCA UNIVERSITY pursuing B-Tech in Computer Science and Engineering.We both are Coding 							Enthusiasts and Full Stack Web Developers and now looking forward to do something more interesting in this						field.We both like competitive programming and are also interested in 									exploring new technologies and working with them.
			</p>

			</div>
		</div>
	</main>

-

<%- include("partials/footer") %>
