<%- include("partials/header") %>


	
	<main class="page-content">
		<div class="container-fluid " >
			<div class="content container-lg " style="margin-top: 30px ;margin-left:0px; font-size: 16px">
			<h1 style="color: SlateBlue">ABOUT INDIA	</h1>
			<p class="card card-body">India is one of the oldest civilizations in the world with a kaleidoscopic variety and rich cultural heritage. It has achieved all-round socio-economic progress during the last 65 years of its Independence. India has become self-sufficient in agricultural production and is now one of the top industrialized countries in the world and one of the few nations to have gone into outer space to conquer nature for the benefit of the people. It covers an area of 32, 87,263 sq. km, extending from the snow-covered Himalayan heights to the tropical rain forests of the south.
				<br>
				<br>
As the 7th largest country in the world, India stands apart from the rest of Asia, marked off as it is by mountains and the sea, which give the country a distinct geographical entity. Bounded by the Great Himalayas in the north, it stretches southwards and at the Tropic of Cancer, tapers off into the Indian Ocean between the Bay of Bengal on the east and the Arabian Sea on the west. As you travel, India offers a range of vast tourism choices, diverse in land and nature, people, tribes, cuisine, faiths, dance forms, music, arts, crafts, adventure, sport, spirituality, history; even these vary as you journey from one state to another. As a country, India has achieved all-round socio-economic progress in the last 70 years of independence. The change is clearly visible in the Tier I and Tier II cities. However, the fascinating aspect lies in the stark difference as you travel through the new and old parts of its cities. From world-class airports and hotels, luxurious shopping malls, restaurants, pubs and cafes to overcrowded streets and alleyways, in the same cities, filled with thousands of little shops offering every possible modern and ethnic product and native street food is a fascinating experience.	
			</p>	
				
			<h1 style="color: SlateBlue">NATURE AND WILDLIFE</h1>
			<p class="card card-body">From hauntingly beautiful snowy escapades to lush forests and hills of rolling green, from the endless golden beaches to the sapphire and emerald lakes embedded in the landscape, the natural beauty of the Indian subcontinent is unparalleled. The unspoilt and unexplored terrains of the country leave one in awe of their breathtaking splendour. Moreover, the differences and contrasts of one region from another accentuate the appeal of these landscapes - be it the frigid cold deserts of Leh that call to the soul-searcher in you or the sun-drenched mystique desert dunes of Rajasthan that take you back to the times of royals. Starting from the snow-capped Himalayas in the north, traversing the deserts of Rajasthan, crossing the lush forests of Madhya Pradesh and then sailing in the expansive backwaters of Kerala, and finally diving into the pristine waters of the Andaman and Nicobar Islands, the journey is full of adventurous highlands and serene plains and lowlands. A land boasting a diverse variety of flora and fauna, India is also home to many national parks, wildlife sanctuaries, tiger reserves and biosphere reserves, which offer enchanting wildlife sightings.</p>
			
			<h1 style="color: SlateBlue">ART</h1>
			<p class="card card-body">The land where classical melodies merge seamlessly with a mesmerising mosaic of exquisite paintings, ancient weaves and other handicrafts, divine dance forms, fascinating festivals and scintillating sculptures, India is a vibrant potpourri of arts and crafts. With each of its states and union territories bursting with ethnic flavours that multiply at every turn, the country sparkles with vitality and vivacity.</p>
			
			<h1 style="color: SlateBlue">FOOD AND CUISINE</h1>
			<p class="card card-body">Known for its diversity that varies with every region, state, community, culture and even religion, food in India is a vibrant assortment of uncountable dishes. It is distinctly characterised by the subtle and sophisticated use of spices, grains, fruits and vegetables that are all grown in the country. Home to people of many religions who come from a plethora of cultural backgrounds, the food culture of the country has been influenced by all of them, including foreigners.</p>
			
			<h1 style="color: SlateBlue">LUXURY</h1>
			<p class="card card-body">Home to several royal dynasties that enjoyed an opulent and an ostentatious lifestyle, India is a land steeped in history. Over the years, age-old cultures, traditions, arts and practices have been blending seamlessly with modern comforts, culminating to tailor a regal experience for tourists who want to sample luxury. From its northernmost tip to its southernmost end, the country has a number of luxurious escapades that warrant a splurge. While spanning its eastern corner to the western coast, India offers luxe experiences galore — these range from rejuvenating beach getaways, luxurious oases in the desert, jungle jaunts, and even glorious experiences on cruises and trains.</p>
			
			<h1 style="color: SlateBlue">NATURE AND WILDLIFE</h1>
			<p class="card card-body">From hauntingly beautiful snowy escapades to lush forests and hills of rolling green, from the endless golden beaches to the sapphire and emerald lakes embedded in the landscape, the natural beauty of the Indian subcontinent is unparalleled. The unspoilt and unexplored terrains of the country leave one in awe of their breathtaking splendour. Moreover, the differences and contrasts of one region from another accentuate the appeal of these landscapes - be it the frigid cold deserts of Leh that call to the soul-searcher in you or the sun-drenched mystique desert dunes of Rajasthan that take you back to the times of royals. Starting from the snow-capped Himalayas in the north, traversing the deserts of Rajasthan, crossing the lush forests of Madhya Pradesh and then sailing in the expansive backwaters of Kerala, and finally diving into the pristine waters of the Andaman and Nicobar Islands, the journey is full of adventurous highlands and serene plains and lowlands. A land boasting a diverse variety of flora and fauna, India is also home to many national parks, wildlife sanctuaries, tiger reserves and biosphere reserves, which offer enchanting wildlife sightings.</p>
			
				
			<h1 style="color: SlateBlue">ADVENTURE</h1>
			<p class="card card-body">Spirit of Adventure/ Allure of AdventureScale the heights of thrill, or plummet to the depths of excitement or if you're truly daring, survey gorgeous lands and waters, while suspended in the sky. All this and more awaits you as you explore land, water and sky adventures in the country. From trekking, mountain biking and mountaineering in the secluded snow-capped Himalayas to surfing, rafting, scuba diving and snorkelling, there are a multitude of options for thrill seekers.</p>
			
			<h1 style="color: SlateBlue">PILGRIM PROGRESS</h1>
			<p class="card card-body">India is its billion people. And it is safe to say that these people define what spirituality in India is. The most prominent religions in the country are Hinduism, Islam, Christianity, Buddhism, Sikhism and Jainism. Apart from these there are several other schools of thoughts. The country is filled with many spiritual destinations which should not be missed by anyone looking for the true Indian experience. These are open and welcome to everyone.</p>
			</div>
		</div>
	</main>

-

<%- include("partials/footer") %>